html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
/* Form Field (selector for form field wrapper) */
/* Descriptions (targets class applied to Help Text divs) */
.inputs-list li {
  list-style: none;
}

/* Labels (selects field labels and error messages) */
.hs-form label {
  font-size: 12px;
  color: #707689;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 14px !important;
}
.hs-form label a {
  text-decoration: none;
  color: #0099FF;
}

.hs-form .hs-form-field > label {
  margin-bottom: 3px !important;
  font-size: 14px;
}

/* Inputs (selectors for all inputs)  */
.hs-form input[type=text],
.hs-form input[type=password],
.hs-form input[type=datetime],
.hs-form input[type=datetime-local],
.hs-form input[type=date],
.hs-form input[type=month],
.hs-form input[type=time],
.hs-form input[type=week],
.hs-form input[type=number],
.hs-form input[type=email],
.hs-form input[type=url],
.hs-form input[type=search],
.hs-form input[type=tel],
.hs-form input[type=color],
.hs-form input[type=file],
.hs-form textarea,
.hs-form select {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #707689;
  font-size: 15px;
  color: #707689;
  padding-left: 15px;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

.hs-form .hs-richtext {
  color: black;
  margin: 15px 0px 15px 0px;
  font-family: "proxima-regular-italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type=text]:focus,
.hs-form input[type=password]:focus,
.hs-form input[type=datetime]:focus,
.hs-form input[type=datetime-local]:focus,
.hs-form input[type=date]:focus,
.hs-form input[type=month]:focus,
.hs-form input[type=time]:focus,
.hs-form input[type=week]:focus,
.hs-form input[type=number]:focus,
.hs-form input[type=email]:focus,
.hs-form input[type=url]:focus,
.hs-form input[type=search]:focus,
.hs-form input[type=tel]:focus,
.hs-form input[type=color]:focus,
.hs-form input[type=file]:focus,
.hs-form textarea:focus,
.hs-form select:focus {
  outline: none;
}

/* Multi-line inputs (selectors to target multi-line fields */
/* Dropdowns (selectors for dropdowns) */
/* Multi-select (selectors for multi-select fields) */
.hs-form input[type=checkbox] {
  margin-right: 10px;
}

/* Required (selectors for fields, when they do not pass validation) */
.hs-form input:focus:required:invalid,
.hs-form textarea:focus:required:invalid,
.hs-form select:focus:required:invalid {
  border: 2px solid #EC5D61;
}

.hs-form input:focus:required:invalid:focus,
.hs-form textarea:focus:required:invalid:focus,
.hs-form select:focus:required:invalid:focus {
  border: 2px solid #EC5D61;
}

/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label {
  color: white;
  background-color: #EC5D61;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 6px 4px 6px 4px;
  display: block;
  width: 70%;
  margin-top: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
}

/* Placeholder Text (styles the placeholder attribute text) */
::-webkit-input-placeholder {
  /* Webkit Browsers */
}

:-moz-placeholder {
  /* Firefox 18- */
}

::-moz-placeholder {
  /* Firefox 19+ */
}

:-ms-input-placeholder {
  /* IE10 */
}

/* Multi Column Form (selectors for fieldsets and field wrappers) 
   ========================================================================== */
/* Submit buttons (selectors for all non-CTA buttons) 
   ========================================================================== */
body .hs-button.primary,
body input[type=submit],
body input[type=button] {
  width: 100%;
  background-color: #1BC74E;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  padding-left: 15px;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body .hs-button.primary:hover,
body input[type=submit]:hover,
body input[type=button]:hover {
  cursor: pointer;
}

/*# sourceMappingURL=form.css.map */
