html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.seventh {
  margin-top: 300px;
  background-color: #1BC74E;
  height: 312px;
  padding-top: 104px;
}
@media only screen and (max-width:768px) {
  .seventh {
    padding-top: 200px;
  }
}
.seventh section {
  background: #FFFFFF;
  border-radius: 30px;
  box-shadow: 10px 10px 0px #000000;
  padding: 90px 140px;
  position: relative;
}
@media only screen and (max-width:1366px) {
  .seventh section {
    padding: 60px 100px;
  }
}
@media only screen and (max-width:768px) {
  .seventh section {
    padding: 20px 10px 20px 10px;
  }
}
.seventh section .wave-left {
  position: absolute;
  width: 203.49px;
  top: -50px;
  left: -50px;
}
@media only screen and (max-width:1024px) {
  .seventh section .wave-left {
    z-index: -1;
  }
}
.seventh section .wave-right {
  position: absolute;
  width: 135px;
  bottom: -50px;
  right: -50px;
  z-index: -1;
}
.seventh section .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width:1366px) {
  .seventh section .inner {
    flex-direction: column;
  }
}
.seventh section .inner .right a {
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  background-color: #1BC74E;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  font-size: 20px;
}
.seventh section .inner .right .contact {
  margin-top: 55px;
  text-align: center;
}
.seventh section .inner .right .contact .text {
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.seventh section .inner .left {
  max-width: 430px;
}
@media only screen and (max-width:1366px) {
  .seventh section .inner .left {
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
}
.seventh section .inner .left .title {
  font-size: 34px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.seventh section .inner .left .text {
  font-size: 18px;
  line-height: 25px;
}

/*# sourceMappingURL=seven.css.map */
