html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
:root {
  font-size: 62.5%;
}
:root body {
  margin: 0;
  font-size: 1.6rem;
}

section {
  width: 115rem;
  margin: 0px auto;
  -moz-transition: width 0.5s linear;
  -o-transition: width 0.5s linear;
  -webkit-transition: width 0.5s linear;
}
@media only screen and (max-width:1366px) {
  section {
    width: 83rem;
  }
}
@media only screen and (max-width:1024px) {
  section {
    width: 54.5rem;
  }
}
@media only screen and (max-width:768px) {
  section {
    width: 31.5rem;
  }
}

.title {
  color: #34393F;
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitle {
  color: #34393F;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text {
  color: #707689;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
  color: #1BC74E !important;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.cta {
  color: white !important;
  font-family: "Open Sans";
  background-color: #1BC74E;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none !important;
}

.modal-backdrop {
  background: #242424 !important;
  opacity: 1 !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
/* Form Field (selector for form field wrapper) */
/* Descriptions (targets class applied to Help Text divs) */
.inputs-list li {
  list-style: none;
}

/* Labels (selects field labels and error messages) */
.hs-form label {
  font-size: 12px;
  color: #707689;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 14px !important;
}
.hs-form label a {
  text-decoration: none;
  color: #0099FF;
}

.hs-form .hs-form-field > label {
  margin-bottom: 3px !important;
  font-size: 14px;
}

/* Inputs (selectors for all inputs)  */
.hs-form input[type=text],
.hs-form input[type=password],
.hs-form input[type=datetime],
.hs-form input[type=datetime-local],
.hs-form input[type=date],
.hs-form input[type=month],
.hs-form input[type=time],
.hs-form input[type=week],
.hs-form input[type=number],
.hs-form input[type=email],
.hs-form input[type=url],
.hs-form input[type=search],
.hs-form input[type=tel],
.hs-form input[type=color],
.hs-form input[type=file],
.hs-form textarea,
.hs-form select {
  width: 100%;
  border-radius: 5px;
  height: 50px;
  border: 1px solid #707689;
  font-size: 15px;
  color: #707689;
  padding-left: 15px;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

.hs-form .hs-richtext {
  color: black;
  margin: 15px 0px 15px 0px;
  font-family: "proxima-regular-italic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

/* Inputs in focus (selectors for all inputs when clicked)  */
.hs-form input[type=text]:focus,
.hs-form input[type=password]:focus,
.hs-form input[type=datetime]:focus,
.hs-form input[type=datetime-local]:focus,
.hs-form input[type=date]:focus,
.hs-form input[type=month]:focus,
.hs-form input[type=time]:focus,
.hs-form input[type=week]:focus,
.hs-form input[type=number]:focus,
.hs-form input[type=email]:focus,
.hs-form input[type=url]:focus,
.hs-form input[type=search]:focus,
.hs-form input[type=tel]:focus,
.hs-form input[type=color]:focus,
.hs-form input[type=file]:focus,
.hs-form textarea:focus,
.hs-form select:focus {
  outline: none;
}

/* Multi-line inputs (selectors to target multi-line fields */
/* Dropdowns (selectors for dropdowns) */
/* Multi-select (selectors for multi-select fields) */
.hs-form input[type=checkbox] {
  margin-right: 10px;
}

/* Required (selectors for fields, when they do not pass validation) */
.hs-form input:focus:required:invalid,
.hs-form textarea:focus:required:invalid,
.hs-form select:focus:required:invalid {
  border: 2px solid #EC5D61;
}

.hs-form input:focus:required:invalid:focus,
.hs-form textarea:focus:required:invalid:focus,
.hs-form select:focus:required:invalid:focus {
  border: 2px solid #EC5D61;
}

/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label {
  color: white;
  background-color: #EC5D61;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 6px 4px 6px 4px;
  display: block;
  width: 70%;
  margin-top: 5px;
  border-radius: 5px;
  border-top-left-radius: 0px;
}

/* Placeholder Text (styles the placeholder attribute text) */
::-webkit-input-placeholder {
  /* Webkit Browsers */
}

:-moz-placeholder {
  /* Firefox 18- */
}

::-moz-placeholder {
  /* Firefox 19+ */
}

:-ms-input-placeholder {
  /* IE10 */
}

/* Multi Column Form (selectors for fieldsets and field wrappers) 
   ========================================================================== */
/* Submit buttons (selectors for all non-CTA buttons) 
   ========================================================================== */
body .hs-button.primary,
body input[type=submit],
body input[type=button] {
  width: 100%;
  background-color: #1BC74E;
  color: white;
  border-color: transparent;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  padding-left: 15px;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

body .hs-button.primary:hover,
body input[type=submit]:hover,
body input[type=button]:hover {
  cursor: pointer;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.menu {
  width: 100%;
  position: fixed;
  top: 60px;
  z-index: 120;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
@media only screen and (max-width:1366px) {
  .menu {
    top: 0px;
  }
}
.menu .active {
  display: block !important;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.menu .menu-inner-mobile {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 20px 20px;
}
.menu .menu-inner-mobile div {
  cursor: pointer;
}
.menu .menu-inner-mobile .item-title {
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #303140;
  margin-bottom: 3px;
  text-align: center;
}
.menu .menu-inner-mobile .item {
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: #707689;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}
.menu .menu-inner-mobile .separator {
  width: 34px;
  height: 0px;
  border: 1px solid #D0D9E2;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu .menu-inner-final {
  background-color: white !important;
  box-shadow: 0px 20px 40px rgba(112, 118, 137, 0.15) !important;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.menu .menu-inner:hover {
  background-color: white !important;
  box-shadow: 0px 20px 40px rgba(112, 118, 137, 0.15) !important;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menu .menu-inner {
  width: 1200px;
  height: auto;
  padding: 10px 20px 10px 20px;
  background-color: white;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
@media only screen and (max-width:1366px) {
  .menu .menu-inner {
    width: 100%;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0px 20px 40px rgba(112, 118, 137, 0.15) !important;
  }
}
.menu .menu-inner .logo {
  width: 121px;
  cursor: pointer;
  margin-right: 90px;
}
.menu .menu-inner .logo img {
  max-width: 121px;
}
@media only screen and (max-width:1366px) {
  .menu .menu-inner .logo {
    width: 100px;
  }
  .menu .menu-inner .logo img {
    max-width: 100px;
  }
}
.menu .menu-inner .right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width:1366px) {
  .menu .menu-inner .right {
    width: auto;
  }
}
.menu .menu-inner .right .items {
  position: relative;
  border: 2px solid transparent;
  width: auto;
  border: 2px solid transparent;
  padding-top: 7px;
}
.menu .menu-inner .right .items .submenu {
  display: none;
  position: absolute;
  left: -117px;
  bottom: -364px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 30px 40px rgba(112, 118, 137, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.menu .menu-inner .right .items .submenu .sitem {
  width: 230px;
  padding: 15px 20px 15px 20px;
  background: #FFFFFF;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  cursor: pointer;
}
.menu .menu-inner .right .items .submenu .sitem .title {
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #34393F;
  margin-bottom: 5px;
}
.menu .menu-inner .right .items .submenu .sitem .subtitle {
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  color: #707689;
}
.menu .menu-inner .right .items .submenu .sitem:hover {
  box-shadow: 0px 5px 20px rgba(112, 118, 137, 0.15);
  transition: all 0.3s ease-in-out;
}
.menu .menu-inner .right .items .submenu .sitem:nth-of-type(2) {
  margin: 10px 0px 10px 0px;
}
.menu .menu-inner .right .items .hide-menu {
  display: none !important;
}
.menu .menu-inner .right .items .hightlight {
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303140;
}
@media only screen and (max-width:1366px) {
  .menu .menu-inner .right .items {
    display: none;
  }
}
.menu .menu-inner .right .items .element {
  display: inline;
  text-align: center;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #34393F;
  cursor: pointer;
  line-height: 21px;
  padding-bottom: 8px;
  position: relative;
}
.menu .menu-inner .right .items .element:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #1BC74E;
  transition: all 0.3s ease-in-out;
}
.menu .menu-inner .right .items .element:hover:after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.menu .menu-inner .right .items #solution {
  margin-right: 65px;
}
.menu .menu-inner .right .items #platform {
  margin-right: 65px;
}
.menu .menu-inner .right .items #vision {
  margin-right: 65px;
}
.menu .menu-inner .right .ctas {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
@media only screen and (max-width:768px) {
  .menu .menu-inner .right .ctas {
    margin-left: 0px;
  }
}
.menu .menu-inner .right .ctas .login, .menu .menu-inner .right .ctas .demo, .menu .menu-inner .right .ctas .chat {
  cursor: pointer;
}
.menu .menu-inner .right .ctas .navbar-toggle {
  display: none;
}
@media only screen and (max-width:1366px) {
  .menu .menu-inner .right .ctas .navbar-toggle {
    display: block;
    width: 26px;
    margin-left: 20px;
  }
  .menu .menu-inner .right .ctas .navbar-toggle i {
    font-size: 20px;
    color: #707689;
    cursor: pointer;
  }
}
.menu .menu-inner .right .ctas .login:hover {
  border: 1px solid #303140;
  color: #303140;
}
.menu .menu-inner .right .ctas .demo:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menu .menu-inner .right .ctas .chat:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.menu .menu-inner .right .ctas .login {
  border: 1px solid #D0D9E2;
  border-radius: 5px;
  margin-right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.005em;
  font-size: 13.4079px;
  color: #707689;
}
@media only screen and (max-width:1366px) {
  .menu .menu-inner .right .ctas .login {
    display: none;
  }
}
.menu .menu-inner .right .ctas .demo {
  background-color: #1BC74E;
  border: 1px solid #1BC74E;
  font-size: 13.4079px;
  color: white;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.005em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  transition: 0.2s;
  margin-right: 17px;
}
.menu .menu-inner .right .ctas .chat {
  background: #34393F;
  border: 1px solid #34393F;
  font-size: 13.4079px;
  color: white;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.005em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  transition: 0.2s;
}
@media only screen and (max-width:1024px) {
  .menu .menu-inner .right .ctas .chat {
    display: none;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.tophead {
  width: 100%;
  position: relative;
  height: 98.3rem;
}
@media only screen and (max-width:768px) {
  .tophead {
    height: 570px;
  }
}
@media only screen and (max-width:330px) {
  .tophead {
    height: 530px;
  }
}
.tophead .picture-area {
  width: 151rem;
  margin: 0px auto;
  position: absolute;
  left: 50%;
  top: -8rem;
  margin-left: -75.5rem;
}
@media only screen and (max-width:768px) {
  .tophead .picture-area {
    margin-left: 0px;
    left: 0px;
    top: 18rem;
    width: 100%;
  }
}
@media only screen and (max-width:330px) {
  .tophead .picture-area {
    top: 18rem;
  }
}
.tophead .picture-area .desktop {
  width: 151rem;
}
@media only screen and (max-width:768px) {
  .tophead .picture-area .desktop {
    display: none;
  }
}
.tophead .picture-area .tablet {
  display: none;
}
@media only screen and (max-width:768px) {
  .tophead .picture-area .tablet {
    width: 100%;
    display: block;
  }
}
.tophead .text {
  text-align: center;
  color: #34393F;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-top: 16.6rem;
}
@media only screen and (max-width:768px) {
  .tophead .text {
    padding-top: 11rem;
  }
}
@media only screen and (max-width:330px) {
  .tophead .text {
    padding-top: 11rem;
  }
}
.tophead .text h2 {
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5.7rem;
  line-height: 8.2rem;
}
@media only screen and (max-width:768px) {
  .tophead .text h2 {
    font-size: 30px;
    line-height: 42px;
  }
}
@media only screen and (max-width:330px) {
  .tophead .text h2 {
    font-size: 2.7rem;
    line-height: 3rem;
  }
}
.tophead .text h1 {
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8.9rem;
  line-height: 7.1rem;
  margin-bottom: 14px;
}
@media only screen and (max-width:768px) {
  .tophead .text h1 {
    font-size: 6.5rem;
    line-height: 5.1rem;
  }
}
@media only screen and (max-width:330px) {
  .tophead .text h1 {
    font-size: 5.5rem;
    line-height: 5.4rem;
  }
}
.tophead .text p {
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  max-width: 53.6rem;
  margin: 0px auto;
  line-height: 3.1rem;
}
@media only screen and (max-width:768px) {
  .tophead .text p {
    font-size: 1.8rem;
    line-height: 2.5rem;
    max-width: 33rem;
  }
}
@media only screen and (max-width:330px) {
  .tophead .text p {
    max-width: 28rem;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.brands {
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 11rem;
}
.brands .inner {
  width: 120rem;
  margin: 0px auto;
}
@media only screen and (max-width:1366px) {
  .brands .inner {
    width: 80rem;
  }
}
@media only screen and (max-width:768px) {
  .brands .inner {
    width: 32rem;
  }
}
.brands h2 {
  text-align: center;
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  color: #34393F;
  width: 1049px;
  margin: 0px auto;
}
@media only screen and (max-width:1366px) {
  .brands h2 {
    width: 50rem;
    margin: 0px auto;
  }
}
@media only screen and (max-width:768px) {
  .brands h2 {
    width: 32rem;
    font-size: 3.5rem;
    line-height: 3.9rem;
  }
}
@media only screen and (max-width:330px) {
  .brands h2 {
    width: 29rem;
  }
}
.brands .logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}
@media only screen and (max-width:1366px) {
  .brands .logos {
    width: 57.2rem;
    margin: 40px auto 10px auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .brands .logos img {
    margin: 0px 15px 55px 15px;
  }
}
@media only screen and (max-width:768px) {
  .brands .logos {
    width: 32rem;
    flex-direction: column;
    margin: 40px 0px 20px 0px;
  }
  .brands .logos img {
    margin-bottom: 55px;
  }
}
.brands .logos-fr img:nth-of-type(1), .brands .logos-en img:nth-of-type(1) {
  max-width: 110px;
}
.brands .logos-fr img:nth-of-type(2), .brands .logos-en img:nth-of-type(2) {
  max-width: 140px;
}
.brands .logos-fr img:nth-of-type(3), .brands .logos-en img:nth-of-type(3) {
  max-width: 106px;
}
.brands .logos-fr img:nth-of-type(4), .brands .logos-en img:nth-of-type(4) {
  max-width: 144px;
}
.brands .logos-fr img:nth-of-type(5), .brands .logos-en img:nth-of-type(5) {
  max-width: 173px;
}
.brands .logos-fr img:nth-of-type(6), .brands .logos-en img:nth-of-type(6) {
  max-width: 103px;
}
@media only screen and (max-width:768px) {
  .brands .logos-fr img:nth-of-type(1), .brands .logos-en img:nth-of-type(1) {
    max-width: 90px;
  }
  .brands .logos-fr img:nth-of-type(2), .brands .logos-en img:nth-of-type(2) {
    max-width: 120px;
  }
  .brands .logos-fr img:nth-of-type(3), .brands .logos-en img:nth-of-type(3) {
    max-width: 86px;
  }
  .brands .logos-fr img:nth-of-type(4), .brands .logos-en img:nth-of-type(4) {
    max-width: 124px;
  }
  .brands .logos-fr img:nth-of-type(5), .brands .logos-en img:nth-of-type(5) {
    max-width: 153px;
  }
  .brands .logos-fr img:nth-of-type(6), .brands .logos-en img:nth-of-type(6) {
    max-width: 83px;
  }
}
.brands .logos-de img:nth-of-type(1) {
  max-width: 106.14px;
}
.brands .logos-de img:nth-of-type(2) {
  max-width: 133px;
}
.brands .logos-de img:nth-of-type(3) {
  max-width: 142.69px;
}
.brands .logos-de img:nth-of-type(4) {
  max-width: 82.47px;
}
.brands .logos-de img:nth-of-type(5) {
  max-width: 86px;
}
.brands .logos-de img:nth-of-type(6) {
  max-width: 111.17px;
}
@media only screen and (max-width:768px) {
  .brands .logos-de img:nth-of-type(1) {
    max-width: 96.14px;
  }
  .brands .logos-de img:nth-of-type(2) {
    max-width: 123px;
  }
  .brands .logos-de img:nth-of-type(3) {
    max-width: 132.69px;
  }
  .brands .logos-de img:nth-of-type(4) {
    max-width: 72.47px;
  }
  .brands .logos-de img:nth-of-type(5) {
    max-width: 76px;
  }
  .brands .logos-de img:nth-of-type(6) {
    max-width: 101.17px;
  }
}
.brands .logos-us img:nth-of-type(1) {
  max-width: 120px;
}
.brands .logos-us img:nth-of-type(2) {
  max-width: 120px;
}
.brands .logos-us img:nth-of-type(3) {
  max-width: 120px;
}
.brands .logos-us img:nth-of-type(4) {
  max-width: 120px;
}
.brands .logos-us img:nth-of-type(5) {
  max-width: 82.47px;
}
.brands .logos-us img:nth-of-type(6) {
  max-width: 120px;
}
@media only screen and (max-width:768px) {
  .brands .logos-us img:nth-of-type(1) {
    max-width: 110px;
  }
  .brands .logos-us img:nth-of-type(2) {
    max-width: 110px;
  }
  .brands .logos-us img:nth-of-type(3) {
    max-width: 110px;
  }
  .brands .logos-us img:nth-of-type(4) {
    max-width: 110px;
  }
  .brands .logos-us img:nth-of-type(5) {
    max-width: 72.47px;
  }
  .brands .logos-us img:nth-of-type(6) {
    max-width: 110px;
  }
}
.brands a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #1BC74E;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  justify-content: center;
}
.brands a i {
  margin-right: 1.7rem;
}
@media only screen and (max-width:330px) {
  .brands a i {
    display: none;
  }
}
@media only screen and (max-width:330px) {
  .brands a {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.value {
  margin-bottom: 9rem;
}
.value .inner {
  width: 100%;
}
.value .inner .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media only screen and (max-width:1366px) {
  .value .inner .line {
    flex-direction: column;
  }
}
.value .inner .line .face {
  width: 325px;
}
@media only screen and (max-width:1366px) {
  .value .inner .line .face {
    margin-bottom: 45px;
    width: 50%;
  }
}
@media only screen and (max-width:1024px) {
  .value .inner .line .face {
    margin-bottom: 45px;
    width: 80%;
  }
}
@media only screen and (max-width:768px) {
  .value .inner .line .face {
    margin-bottom: 45px;
    width: 100%;
  }
}
.value .inner .line .face h3 {
  text-align: center;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #34393F;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 35px;
}
@media only screen and (max-width:1366px) {
  .value .inner .line .face h3 {
    margin-bottom: 25px;
  }
}
.value .inner .line .face .cardo {
  height: 420px;
  width: 100%;
  box-shadow: 0px 25.4545px 50.9091px rgba(112, 118, 137, 0.15);
  border-radius: 11.6168px;
  cursor: pointer;
  padding-top: 115px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background: #1BC74E;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  justify-content: space-between;
  position: relative;
}
.value .inner .line .face .cardo h2 {
  font-size: 85px;
  line-height: 68px;
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.value .inner .line .face .cardo p {
  font-size: 18px;
  line-height: 25px;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.value .inner .line .face .cardo span {
  font-size: 13px;
  line-height: 18px;
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.value .inner .line .face .cardo .verso {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 25.4545px 50.9091px rgba(112, 118, 137, 0.15);
  border-radius: 11.6168px;
  padding: 45px 30px 45px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width:1366px) {
  .value .inner .line .face .cardo .verso {
    align-items: center;
  }
}
.value .inner .line .face .cardo .verso .text {
  font-size: 15px;
  line-height: 21px;
  text-align: left;
}
@media only screen and (max-width:1366px) {
  .value .inner .line .face .cardo .verso .text {
    text-align: center;
    width: 239.06px;
  }
}
.value .inner .line .face .cardo .verso:nth-of-type(1) img {
  width: 239.06px;
}
.value .inner .line .face .cardo .verso:nth-of-type(2) img {
  width: 265.77px;
}
.value .inner .line .face .cardo .verso:nth-of-type(3) img {
  width: 275.29px;
}
.value .inner .line .face .cardo .verso:hover {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.value .inner a {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #1BC74E;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  justify-content: center;
}
.value .inner a i {
  margin-right: 1.7rem;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.cta-bottom {
  width: 100%;
  background-color: #1BC74E;
  padding: 10rem 12rem;
  margin-top: 13rem;
}
@media only screen and (max-width:1366px) {
  .cta-bottom {
    padding: 10rem 5rem;
  }
}
.cta-bottom .inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width:1366px) {
  .cta-bottom .inner {
    flex-direction: column;
  }
}
.cta-bottom .inner .title {
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 4.5rem;
  line-height: 5.4rem;
  max-width: 62.7rem;
}
@media only screen and (max-width:1366px) {
  .cta-bottom .inner .title {
    text-align: center;
    margin-bottom: 30px;
  }
}
.cta-bottom .inner .right {
  text-align: center;
}
.cta-bottom .inner .right .btn {
  cursor: pointer;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  background-color: white;
  padding: 2rem 4rem;
  margin-bottom: 5rem;
  transition: 0.2s;
}
.cta-bottom .inner .right .btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.cta-bottom .inner .right .numero {
  color: white;
}
.cta-bottom .inner .right .numero h3 {
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6rem;
}
.cta-bottom .inner .right .numero h4 {
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.topbar {
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, #1B74B1 0%, #268DCA 100%);
  top: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width:1366px) {
  .topbar {
    display: none;
  }
}
.topbar .topbar-inner {
  width: 1000px;
  margin: 0px auto;
}
.topbar .topbar-inner .datas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .topbar-inner .datas .left {
  display: flex;
  align-items: center;
}
.topbar .topbar-inner .datas .left .trait {
  width: 25px;
  margin-right: 7px;
  border: 0.826087px solid #F5F6FA;
}
.topbar .topbar-inner .datas .left .title {
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #F5F6FA;
}
.topbar .topbar-inner .datas .center {
  display: flex;
  align-items: center;
}
.topbar .topbar-inner .datas .center .title {
  font-family: "proxima-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-right: 30px;
}
.topbar .topbar-inner .datas .center .cta-topbar {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  padding: 10px 15px;
  border: 1.01804px solid #FFFFFF;
  border-radius: 3px;
  display: inline;
  cursor: pointer;
}
.topbar .topbar-inner .datas .right i {
  color: #FFFFFF;
  cursor: pointer;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.platform {
  height: 700px;
  background: #1F2024;
  border-radius: 20px 20px 0px 0px;
  padding-top: 135px;
  margin-bottom: 9rem;
}
@media only screen and (max-width:1024px) {
  .platform {
    padding-bottom: 120px;
    height: auto;
  }
}
.platform .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width:1024px) {
  .platform .inner {
    flex-direction: column;
  }
}
@media only screen and (max-width:1024px) {
  .platform .inner .left {
    text-align: center;
    margin-bottom: 60px;
  }
}
.platform .inner .left h3 {
  color: white;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
.platform .inner .left h2 {
  color: white;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 40px;
}
.platform .inner .left .a {
  color: white;
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.005em;
  font-size: 20px;
  line-height: 20px;
  background: #0099FF;
  border-radius: 5px;
  padding: 20px 40px;
  text-decoration: none;
  transition: 0.2s;
  display: inline-block;
  cursor: pointer;
}
.platform .inner .left .a:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
.platform .inner .right {
  width: 614.48px;
}
.platform .inner .right img {
  width: 614.48px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "proxima-light";
  src: url("./../fonts/proximanova-light-webfont.woff") format("woff"), url("./../fonts/proximanova-light-webfont.woff") format("woff2");
}
@font-face {
  font-family: "proxima-regular-italic";
  src: url("./../fonts/proximanova-regitalic-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "proxima-regular";
  src: url("./../fonts/proximanova-regular-webfont.woff2") format("woff2"), url("./../fonts/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima-semibold";
  src: url("./../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("./../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "proxima-bold";
  src: url("./../fonts/proximanova-bold.woff2") format("woff2"), url("./../fonts/proximanova-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "proxima-extrabold";
  src: url("./../fonts/proximaNova-Extrabold.woff") format("woff");
}
.content {
  height: 930px;
  position: relative;
}
@media only screen and (max-width:1366px) {
  .content {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
.content h2 {
  width: 688px;
  font-family: "proxima-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  margin-left: 18px;
}
@media only screen and (max-width:1366px) {
  .content h2 {
    margin-left: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 40px;
  }
}
.content .box {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 17.8747px 35.7493px rgba(112, 118, 137, 0.2);
  border-radius: 8.93733px;
  padding: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
@media only screen and (max-width:1366px) {
  .content .box {
    position: static;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width:768px) {
  .content .box {
    flex-direction: column;
  }
}
.content .box .left {
  border-radius: 4.84655px;
}
@media only screen and (max-width:768px) {
  .content .box .left {
    width: 100%;
  }
}
@media only screen and (max-width:768px) {
  .content .box .right {
    width: 100%;
  }
}
.content .box .right h3 {
  font-family: "proxima-semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #34393F;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
}
.content .box .right a {
  color: #1BC74E;
  letter-spacing: 0.005em;
  font-size: 18px;
  line-height: 18px;
}
.content .box .right a i {
  font-size: 10px;
}
.content .box:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}
.content #alpha {
  left: 18px;
  top: 285px;
  flex-direction: column;
}
.content #alpha .left {
  width: 247.31px;
  height: 151.48px;
  margin-bottom: 30px;
}
.content #alpha .left img {
  width: 100%;
}
.content #alpha .right {
  width: 407px;
}
@media only screen and (max-width:768px) {
  .content #alpha .right {
    width: 100%;
  }
}
.content #beta {
  right: 36px;
  top: 191px;
}
.content #beta .left {
  width: 134.95px;
  height: 177.13px;
  margin-right: 37px;
}
@media only screen and (max-width:768px) {
  .content #beta .left {
    margin-right: 0px;
  }
}
.content #beta .left img {
  width: 100%;
}
.content #beta .right {
  width: 316px;
}
@media only screen and (max-width:768px) {
  .content #beta .right {
    width: 100%;
  }
}
.content #omega {
  left: 570px;
  top: 512px;
  flex-direction: column;
}
.content #omega .left {
  width: 300px;
  height: 140px;
  margin-bottom: 30px;
}
.content #omega .left img {
  width: 100%;
}
.content #omega .right {
  width: 403px;
}
@media only screen and (max-width:768px) {
  .content #omega .right {
    width: 100%;
  }
}

/* @import "./top.scss";
@import "./second.scss";
@import "./third.scss";
@import "./fourth.scss";
@import "./fivth.scss";
@import "./six.scss";
@import "./seven.scss";
@import "./fake-footer.scss";
@import "./fake-menu.scss"; */

/*# sourceMappingURL=style.css.map */
