/*---- COLORS --------*/
/*PRIMARY*/
$green: #1BC74E;
$bleu: #0099FF;
$yellow: #FFD940;
$black: #34393F;
$grey: #707689;


/*SECONDARY*/
$greylight: #EAEEF2;
$greenlight: #1BC74E;
$bluelight: #E2F4FF;
$yellowlight: #FFFBE9;
$bluedark: #005DA4;
$red: #FF4F5C;
/*----------------*/



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*MODAL*/
.modal-title{
    font-family: $website-font-bold;
    font-size: 22px;
    letter-spacing: 0.3px;
    color: #34393F;
}

.container-visuel{

}










