@font-face {
    font-family: 'proxima-light';
    src:    url('./../fonts/proximanova-light-webfont.woff') format('woff'),
            url('./../fonts/proximanova-light-webfont.woff') format('woff2');
}

@font-face {
    font-family: 'proxima-regular-italic';
    src:  url('./../fonts/proximanova-regitalic-webfont.woff2') format('woff2'),
          url('./../fonts/proximanova-regitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'proxima-regular';
    src:  url('./../fonts/proximanova-regular-webfont.woff2') format('woff2'),
          url('./../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima-semibold';
    src:  url('./../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
          url('./../fonts/proximanova-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-bold';
    src:  url('./../fonts/proximanova-bold.woff2') format('woff2'),
          url('./../fonts/proximanova-bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-extrabold';
    src: url('./../fonts/proximaNova-Extrabold.woff') format('woff');
}

/*--------------------- FONTS ------------------------------------*/
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$website-font:      'proxima-regular', $sans-serif;
$website-font-bold: 'proxima-bold', $sans-serif;
$website-font-semibold: 'proxima-semibold', $sans-serif;
$website-font-extrabold: 'proxima-extrabold', $sans-serif;
$website-font-light:      'proxima-light', $sans-serif;
$website-italic: 'proxima-regular-italic', $sans-serif;