@import "./variable.scss";

.footer{
    width: 100%;
    padding: 70px 0px 20px 0px;

    .inner{

        width: 1000px;

        @media #{$desktop-xl} {
            width: 900px;
        } 
        @media #{$desktop} {
            width: 700px;
        } 
        @media #{$tablet} {
            width: 360px;
        } 
        @media #{$mobile} {
            width: 300px;
        } 
        
        margin: 0px auto;
        

        .items{
            display: flex;
            @media #{$tablet} {
                flex-direction: column;
            } 
        }
        
        .bottom{
            margin-top: 30px;
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #D0D9E2;

            @media #{$tablet} {
                flex-direction: column-reverse;
                align-items: flex-start;
            } 

            .left{
                display: flex;
                align-items: center;
                
                @media #{$tablet}{
                    flex-wrap: wrap;
                }

                .item{
                    font-family: $website-font;
                    font-size: 10px;
                    line-height: 120%;
                    color: #707689;
                    margin: 0px 10px 0px 0px;
                    cursor: pointer;

                    @media #{$tablet}{
                        margin-bottom: 5px;
                    }
                }
            }

            .right{
                display: flex;
                align-items: center;
                
                @media #{$tablet}{
                    margin-bottom: 10px;
                }

                .item{
                    font-family: $website-font;
                    font-size: 14px;
                    line-height: 130%;
                    color: #707689;
                    margin: 0px 8px 0px 0px;
                }

                .item:nth-of-type(2), .item:nth-of-type(3), .item:nth-of-type(4), .item:nth-of-type(5){
                    cursor: pointer;
                }
            }
        }

        .basic{

            margin-right: 280px;

            @media #{$desktop-xl} {
                margin-right: 250px;
            } 

            @media #{$desktop} {
                margin-right: 50px;
            }

            @media #{$tablet} {
                margin-bottom: 50px;

            } 

            
            .logo{
                max-width: 121px;
                margin-bottom: 27px;
            }

            .contact{
                font-family: $website-font-bold;
                font-size: 20px;
                line-height: 20px;
                color: black;
                margin-bottom: 5px;
            }

            .numero{
                font-family: $website-font;
                font-size: 17px;
                color: #707689;
            }

            .social-n{
                display: flex;
                align-items: center;

                img{
                    margin: 15px 5px;
                    max-width: 16px;
                    cursor: pointer;
                }
            }

            .gartner{
                max-width: 77px;
                margin-top: 70px;

                @media #{$tablet} {
                    display: none;
                } 
            }

        }


        .categorie{
            
            margin-right: 70px;

            .title{
                font-family: $website-font-bold;
                font-size: 17px;
                line-height: 17px;
                color: #303140;
                margin-bottom: 25px;
            }

            .item{
                font-family: $website-font;
                color: #707689;
                font-size: 14px;
                line-height: 130%;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }


    }
}